/*
*
*@author Gardheam Santos
*@version 0.1
*/
/* ================== Layout ================= */

/* --- body ---*/


html, body, .capa {
	height: 100vh;
}


body {
	/*background: url('imagens/capa.jpg');
	background-attachment: fixed;
	background-size: 100%;*/
	font-family: 'Raleway', sans-serif;
	/*background-color: #195b7d;*/
	font-size: 16px;
	margin: 0;
	padding: 0;
	line-height: 1.4;
}

/* --- Barra de Navegação ---*/
.navbar-brand {
	width: 132px;
	height: 40px;
	display: inline;
	background: url(imagens/Logosemfundo.png) no-repeat;
	background-size: contain;
	color: transparent;
	margin-top: 8px;
	margin-left: 15px;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.7);
	border: none;
}

.navbar-header {
	border: none;
}



.divisor {
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	/*color: #00FF00;*/
	color: #38ef7d;
}

section {
	padding-top: 24px;
	padding-bottom: 24px;
	overflow: hidden;
}


/* -- Imagem de capa -- */
.capa {
	background: url('imagens/capa.jpg');
	background-attachment: fixed;
	background-size: 100vw;
	display: table;
	width: 98.8vw;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.6);
}

.texto-capa h1 {
	background: linear-gradient(#11998e, #38ef7d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 75px;
}

/* -- Botoes -- */
.btn-custom {
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px 35px;
    margin: 0px 15px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    color: white;
}

.btn-verde {
	background: #9ACD32;
}

.btn-roxo:hover {
	background-color: #6207e3;
	color: white;
}

.btn-branco {
	border: 1px solid white;
}

.btn-branco:hover {
	background: white;
	color: #2CBC62;
}

/* -- Seção QUEM-SOMOS -- */
#quem-somos {
	padding-top: 48px;
	background-color: white;
	text-align: left;
}

#quem-somos h2, #quem-somos h3 {
	color: #2CBC62;
}

#quem-somos p {
	color: #0a0a0a;
}

#quem-somos .img-responsive {
	padding-top: 24px;
}

.albuns {
	padding-top: 34px;
}

/* -- Seção SUBSISTEMAS -- */
#subsistemas {
	background-color: white;
	text-align: center;
}

#subsistemas h2 {
	padding-bottom: 24px;
	padding-top: 24px; 
}

#subsistemas h2, #subsistemas h3 {
	color: #2CBC62;
}

#subsistemas p {
	color: #0a0a0a;
}

#subsistemas img {
	width: 125px;
	height: 125px;
	margin: 10px;
}

.caixa {
	width: 100%;
	height: 380px;
}

/* -- Seção COMPETIÇÃO -- */
#competicao {
	background: #2CBC62;
	text-align: left;
}

#competicao h2, #competicao h3, #competicao p {
	color: #fff;
}

/* -- Seção PARCEIROS -- */
#parceiros {
	background: #2CBC62;
	text-align: center;
}

#parceiros h2, #parceiros h3 {
	color: white;
	margin-bottom: 48px;
}

#parceiros p {
	color: #fff;
}

#parceiros .empresa {
	width: 125px;
	height: 125px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

/* -- Seção CONTATOS -- */
#contatos {
	background: white;
}

#contatos h2, #contatos h3, #contatos p {
	color: #2CBC62;
}

/* -- RODAPE -- */
footer {
	background-color: #0a0a0a;
	padding: 50px 0px 20px 0px;
	position: relative;
}

#rodape h5 {
	text-align: center;
	display: inline;
}

#rodape .unect {
	color: rgb(64, 128, 255);
}

#rodape .nav {
	display: inline-block;
}


/*================== Tipografia =============== */
/* Fonts */
/* Cores principais */
/* #2CBC62 - Cor principal */
/* #38EF7D */

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat";
	font-weight: 400;
	margin-bottom: 24px;
	margin-top: 24px;
}

h1 {
	letter-spacing: -0.05em;
	color: #2CBC62;
	font-size: 5em;
}

h2 {
	color: #2CBC62;
	font-size: 3em;
}

h3 {
	font-size: 1.75em;
	color: #2CBC62;
}

h5 {
	/* Powered by Unect Jr.*/
	/*color: rgb(64,128,255);*/
	color: white;
}

p {
	font-size: 1.20em;
	color: #0a0a0a;
	font-weight: 300;
	margin-bottom: 24px;
}


/* Text border */
.borda-2px {
	/*text-shadow:#000 1px -1px 2px,
				#000 -1px 1px 2px,
				#000 1px 1px 2px,
				#000 -1px -1px 2px*/
}




